h1

{
  color: red; 
}

body

{ background-color: black;
}



#carte
{


  width: 1000px;
  margin:0 auto;
  background-image: <a src=img"">;
text-align: center;
align-content: center;

}